body, html {
    margin: 0;
    list-style: none;
    text-decoration: none;
    
}

body {
    padding: 15px;
    font-family: "Roboto", sans-serif;
}

.container-esercizi {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card-esercizio {
    border: 1px solid black;
    border-radius: 15pt;
    width: 300px;
    height: 350px;
    padding: 15px;
    background-color: rgb(184, 176, 176);
}

.container-interazione {
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.container-input {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}